form {
	label {
		color: white;
		&::after {
			content: " *";
			color: red;
		}
	}
	.form-control {
		background-color: #252525;
		border: none;
		color: white;
		&:focus {
			background-color: #000000;
			color: white;
		}
	}
}
input.ng-invalid.ng-touched{
	border: 1px solid red;
}
body {
	background: url("./assets/background.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
	body {
		background-position-x: -10em;
	}
}
@media screen and (max-width: 768px) {
	body {
		background-position-x: -45em;
	}
}
